<div class="container">
<div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
  <div class="p-2 bd-highlight"><%= content_tag :div, id: "logo", itemscope: "", itemtype: "http://schema.org/Organization" do %>
        <%= link_to refinery.root_path, itemprop: "" do %>
            <%= image_tag("Logo1.png", class: "img-fluid") %>


        <% end %>
    <% end %> </div>
  <div class="p-2"><p class="h1"><%= Refinery::Core.site_name %></p>
    </div>

</div>

</div>