<div class="container header">
<%= content_tag :div, id: "logo", itemscope: "",  itemtype: "http://schema.org/Organization" do %>
  <%= link_to refinery.root_path, itemprop: "" do %>
  <%= image_tag("Newheader.png") %>

        <h1 class="visually-hidden"><%= Refinery::Core.site_name %></h1>
  <% end %>
<% end %></div>

