
body, html {
    min-width: 1122px;
}

body {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #545d62;

    background-color: #f8f8ed;
}

.button a {
    font: inherit;

    text-align: center;
    color: #f8f8ed;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #80b0e1;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.button:hover a,
.button:focus a,
.button:active a {
    background: #feeb95;
    color: #80b0e1;
    border-radius: 25px;
    border: none;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

.main-header {
    margin-bottom: 5px;

}

.home-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 45px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    color: #620903;
    line-height: normal;
    text-rendering: optimizelegibility;
    text-align: center;
    font-style: italic;
}

.homeNav {
    font-size: 15px;
    line-height: 20px;
}

.homeNav_1 {
    flex-basis: 22%;
    margin: auto;

}

.homeNav_2 {
    flex-basis: 22%;
    margin: auto;
}

.homeNav_3 {
    flex-basis: 22%;
    margin: auto;
}

.homeNav_4 {
    flex-basis: 22%;
    margin: auto;

}

.homeNav-wrapper {
    width: 100%;
    margin-bottom: 5px;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.site-navigation a {
    display: block;
    padding: 8px 15px;

}

/*Сеточные стили*/

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-footer {
    margin-top: 5px;
    padding: 30px 0;
    text-align: center;

}

.main-footer .container {
    display: flex;
}

.footer-copyright {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}