

body, html {
    min-width: 1122px;
}

.content-box-component {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #545d62;

    background-color: #f8f8ed;
}

a {
    text-decoration: none;
    color: #0088cc;

}

a:hover,
a:focus,
a:active {
    color: #cc963b;
}

a:focus {
    outline: none;
}


.menu {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    background-color: transparent;
}

.nav {
    list-style: none;

}

.nav a {
    color: #52312f;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container >div:nth-child(1) {
    width: 300px;
    order: 1;
}
.flex-container>div:nth-child(2) {
    width: 640px;
    order: 2;
}
.header {
    border: none;
    border-radius: 25px;
}


.table {
    border: 1px solid #CCCCCC;
    background-color: #EEDEC6;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    line-height: 18px;
}
.table td, .table th {
    border: 1px solid #AAAAAA;
    padding: 7px 7px;
}
.table tbody td {
    font-size: 12px;
}
.table tr:nth-child(even) {
    background: #D0E4F5;
}
.table thead {
    background: #737373;
    background: -moz-linear-gradient(top, #969696 0%, #818181 66%, #737373 100%);
    background: -webkit-linear-gradient(top, #969696 0%, #818181 66%, #737373 100%);
    background: linear-gradient(to bottom, #969696 0%, #818181 66%, #737373 100%);
}
.table thead th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 1px solid #CCCCCC;
}
.table thead th:first-child {
    border-left: none;
}

.table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #737373;
    background: -moz-linear-gradient(top, #969696 0%, #818181 66%, #737373 100%);
    background: -webkit-linear-gradient(top, #969696 0%, #818181 66%, #737373 100%);
    background: linear-gradient(to bottom, #969696 0%, #818181 66%, #737373 100%);
}
.table tfoot td {
    font-size: 14px;
}