.table {
    width: 100%;
}


.table th, .table td {
    border-bottom: 1px solid #dfe2e4;
}
.table td, .table tbody th {
    padding: 6px 20px;
}

.table tr:nth-child(2n) {
    background: #f3f4f5;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #545d62;
    background-color: #f5f5f5;
    min-width: 320px;
}
