.table {
    width: 100%;
}


.table th, .table td {
    border-bottom: 1px solid #dfe2e4;
}
.table td, .table tbody th {
    padding: 6px 20px;
}

.table tr:nth-child(2n) {
    background: #f3f4f5;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #545d62;
    background-color: #f8f8ed;
    min-width: 320px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
